@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./image/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  background-attachment: fixed;
 
}
.card {
    height: 100%;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}
.card img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 60px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .2)
                0 15px 100px rgba(0, 0, 0, .3);
}
.card h3 {
    margin-top: 15px;
    padding: 5px 0;
    font-size: 25px;
    color: #fff;
}
.card .post {
    color: #eee;
    
}
.card .post_des {
    color: #eee;
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 15px;
    text-align: left;
}
.card .icon {
    margin: 25px 0;
}
.card .icon a{
    margin: 0 5px;
    font-size: 20px;
    color: #fff;
}
.card .icon a:hover {
    transform: scale(1.4);
}
.card button {
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    outline: none;
    margin: 0 2px;
    cursor: pointer;
    height: 40px;
    width: 140px;
    font-size: 15px;
    margin-bottom: 15px;
}
.card button:hover {
    background: #fff;
    color: #333;
}
.card .shares {
    margin-top: 25px;
    margin-bottom: 25px;
}
.card .shares .counter {
    font-size: 20px;
    margin: 0 5px;
    color: #fff;
}
.card .shares .counter:nth-child(2) {
    padding: 5px 15px;
    border: 1px solid #eee;
    border-top: none;
    border-bottom: none;
}
.card .shares .counter .count {
    color: #f0f0f0;
}
.profile_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    margin-top: 5px;
  }
.profile_item {
    padding: 0px 10px;
    min-width: 150px;
   
  }
  .border {
    border-right: 1px solid #fff;
  }
  @media screen and (max-width: 768px) {
    .profile-card-inf__item {
      padding: 10px 20px;
      min-width: 120px;
    }
  }
.rank {
    /* font-weight: 700; */
    font-size: 15px;
    color: #fff;
    text-align: center;
    
  }
.rank_des {
    color: #fff;
    /* font-weight: 500; */
    margin-top: 7px;
    text-align: center;
  }
  .travel {
      text-decoration: underline;
      color: rgba(255, 0, 0, 0.611);
  }
